<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EM</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="container">
        <header><b>Empire</b></header>
        <div id="em-card" class = "island-element">
            <div>
                <img src = "images/main/EM.jpg" alt="Empire Logo">
                <p class = "description">This is the EMpire</p>
            </div>
        </div>
        <div class="island-element music-card">
                <a href="/smart-solutions"><img src = "images/main/eighteenth note.png" alt="Music"></a>
                <p class = "description">This is Music of the EMpire</p>
        </div>
        <div class="island-element smart-solutions-card">
                <a href="/"><img src = "images/main/AI Brain.webp" alt="Smart Solutions"></a>
                <p class = "description">This is the Smart Solutions of the EMpire</p>
        </div>
        <div class="island-element outfit-card">
                <img src = "images/main/outfit.jpg" alt="Clothing">
        </div>
        <div class="island-element games-card">
                <img src = "images/main/controller.jpg" alt="Gaming">
        </div>
    </div>
  </body>
</html>